<% include partials/header %>
         
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Easy Login using Social Accounts NodeJS Example</h1>

        <p>Register with:</p>

        <a href="/login/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/login/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
        <a href="/login/linkedIn" class="btn btn-primary"><span class="fa fa-linkedin"></span> LinkedIn</a>
    </div>

<% include partials/footer %>